/* 1. Todos os <p> com fonte Arial */
p {
    font-family: Arial, sans-serif;
}

/* 2. Título principal azul */
#titulo-principal {
    color: blue;
}

/* 3. Fundo amarelo para quem tem classe destaque */
.destaque {
    background-color: yellow;
}

/* 4. Apenas o Item 2 vermelho */
.importante {
    color: red;
}

/* 5. Apenas input type="text" com borda azul */
input[type="text"] {
    border: 2px solid blue;
}

