/* 1. Todos os <p> com fonte Arial */
p {
    font-family: Arial, sans-serif;
}

/* 2. Título principal azul */
#titulo-principal {
    color: blue;
}

/* 3. Fundo amarelo para quem tem classe destaque */
.destaque {
    background-color: yellow;
}

/* 4. Apenas o Item 2 vermelho */
.importante {
    color: red;
}

/* 5. Apenas input type="text" com borda azul */
input[type="text"] {
    border: 2px solid blue;
}

/*6. Ao passar o mouse no botão, mudar a cor de fundo;*/

section button:hover{
    background-color: black;
    color: white;
    border: 3px solid rgb(80, 80, 80);
    border-radius: 3px;
}

/*7.Mudar a cor apenas do <p> que está dentro da .container mas que seja
filho direto da primeira div*/
.container > div > p:first-child{
    color: rgb(0, 255, 255);
}

/*8.Aumentar o tamanho da primeira letra de todos os parágrafos*/
p::first-letter{
    font-size: 3rem;
}

/*9.Deixar apenas o primeiro <li> em negrito*/

ul > li:first-child{
    font-weight: bold;
}

